# Compiled class file
*.class

# Log file
*.log

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
.gradle
.metadata
.project
.recommenders
.settings
.springBeans
.vscode
/code
bin
build
